.app {
    width: 1120px;
    margin: 0 auto;
    padding: 50px;
    background: lightgoldenrodyellow;

    &--dark {
        background: darkslategray;
        color: #FFFFFF;
    }

    .yo {
        width: 500px;
        display: flex;
        border: 2px solid red;
    }

}

img {
    display: block;
    margin-right: 10px;
}


