<div class="app">
    <h1>Mat slider</h1>
    <div class="yo">
        <img *ngIf="volume === 0" src="assets/icons/sound-0.svg" alt="">
        <img *ngIf="(volume > 0) && (volume <= 50)" src="assets/icons/sound-50.svg" alt="">
        <img *ngIf="(volume > 50) && (volume <= 100)" src="assets/icons/sound-100.svg" alt="">
        <mat-slider min="0" max="100" step="1" [(ngModel)]="volume"></mat-slider>
    </div>
    <p>volume: {{ volume }}</p>
</div>

<div class="app app--dark">
    <h1>Mat select</h1>
    <mat-form-field appearance="fill">
        <mat-label>Styles</mat-label>
        <mat-select>
            <mat-option>All styles</mat-option>
            <mat-option (onSelectionChange)="selectStyleHandler($event)"
                        *ngFor="let style of styles"
                        [value]="style">
                {{style.title}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <p>{{ currentStyle | json }}</p>
</div>
